/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* CSS RESET */

     /* http://meyerweb.com/eric/tools/css/reset/
        v2.0 | 20110126
        License: none (public domain)
     */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 a {
   text-decoration: none;
   color: #3c2f2f;
 }
 button {
   border: none;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 /* General */

 button, link {
   outline: none;
 }

 body {
   background-color: #fff4e6;
   font-family: Roboto, sans-serif;
 }

 input {
   background-color: #fff4e6;
   color: #3c2f2f;
   font-size: 16pt;
   padding: 10px;
   border: 1px solid #3c2f2f;
   opacity: .95;
 }

 .show-img-container {
   height: 500px;
   width: 100%;
   flex: 1 1 auto;
   overflow: hidden;
   display: flex;
   align-items: center;
   background-color: #854442;
 }

 .page {
   position: fixed;
   display: flex;
   width: 100%;
   height: 100%;
   overflow: scroll;
   flex-direction: column;
   align-items: center;
 }

 .header {
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: column;
   background: #41658A;
   flex: 1 0 auto;
   margin: 0 10px;
   padding: 0 10px;
   overflow: scroll;
   justify-content: space-between;
   border-bottom: 2px solid #3c2f2f;
 }

 .content {
   width: 98%;
   display: flex;
   background: #41658A;
   align-items: center;
   flex: 9 0 auto;
   margin: 0 10px;
   border-left: 1px solid #3c2f2f;
   border-right: 1px solid #3c2f2f;
 }

/* Header */

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(60, 47, 47, .3);
}

.header-modal {
  overflow: scroll;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

 .header-info {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding: 20px 0;
 }

.greeting-container {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20pt;
}

.greeting-name {
  color: #fff4e6;
  text-shadow: #3c2f2f 2px 2px;
  margin: 10px;
  padding: 10px;
}

.signup-button,
.login-button,
.logout-button,
.index-button,
.shelter-button,
.shelter-link-button,
.update-shelter-button,
.delete-shelter-button,
.delete-button,
.pet-button,
.profile-button {
  display: block;
  box-sizing: border-box;
  outline: none;
  background: rgba(36, 0, 69, 0.95);
  color: #FFF4E6;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
  letter-spacing: 1px;
  font-size: 14pt;
  margin: 10px;
  padding: 10px;
  font-family: Roboto;
}

.logout-button {
  padding: 8px;
}

.index-button {
  border: none;
  background: rgba(65, 101, 138, 0.95);
}

.shelter-button {
  color: #FFF4E6;
  font-size: 40pt;
  margin: 0;
  padding: 20px;
  background: #FFF4E6;
}

.shelter-link-button {
  color: #3C2F2F;
  font-size: 40pt;
  margin: 0;
  padding: 20px;
  background: #FFF4E6;
}

.delete-button {
  color: #ED2939;
  background: #FFF4E6;
}

.delete-shelter-button {
  color: #ED2939;
  width: 100%;
  margin: 0;
  padding: 30px;
  background: #FFF4E6;
}

.pet-button,
.update-shelter-button {
  width: 100%;
  margin: 0;
  padding: 30px;
  color: #3C2F2F;
  background: #FFF4E6;
}

.signup-button:hover,
.signup-button:active,
.login-button:hover,
.login-button:active,
.logout-button:hover,
.logout-button:active,
.index-button:hover,
.index-button:active,
.shelter-button:hover,
.shelter-button:active,
.shelter-link-button:hover,
.shelter-link-button:active,
.update-shelter-button:hover,
.update-shelter-button:active,
.delete-shelter-button:hover,
.delete-shelter-button:active,
.pet-button:hover,
.pet-button:active,
.profile-button:hover,
.profile-button:active {
  background: rgba(65, 101, 138, 0.95);
  color: #FFF4E6;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.index-button:hover,
.index-button:active {
  color: #41658A;
  background: #FFF4E6;
}

.shelter-button:hover,
.shelter-button:active {
  background: #fff4e6;
  color: #41658A;
}

.shelter-link-button:hover,
.shelter-link-button:active {
  background: #5C6F68;
}

.update-shelter-button:hover,
.update-shelter-button:active {
  background: #5C6F68;
}

.delete-shelter-button:hover,
.delete-shelter-button:active,
.delete-button:hover,
.delete-button:active {
  color: #FFF4E6;
  background: #ED2939;
}

.pet-button:hover,
.pet-button:active {
  background: #240045;
}

.header-logo {
  font-family: Pacifico, cursive;
  display: flex;
  color: #fff4e6;
  text-shadow: #3c2f2f 3px 3px;
  font-size: 48pt;
  padding: 5px;
}

.header-icon {
  width: 75px;
  height: 75px;
  margin: 5px;
  padding: 5px;
}

.header-icon-image {
  max-width:100%;
  max-height:100%;
}

.header-title {
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: center;
}

/* Search Bar */

.search-bar {
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 2;
  margin-top: auto;
  margin-bottom: auto;
}

.search-bar > form {
  display: flex;
  border-bottom: none;
  vertical-align: middle;
  align-items: center;
}

.search-button {
  display: block;
  box-sizing: border-box;
  outline: none;
  background: rgba(36, 0, 69, 0.95);
  color: #FFF4E6;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
  letter-spacing: 1px;
  margin-right: 20px;
}

.search-button:hover,
.search-button:active {
  background: rgba(65, 101, 138, 0.95);
  color: #FFF4E6;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

/* Welcome Page*/

.welcome-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

/* Carousel*/

.carousel-container {
  width: 100%;
  margin: auto;
}

/* Pet Index */

.pet-index-container {
  background: linear-gradient(#fff4e6, #be9b7b);
  display: flex;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
}

.pet-index {
  display: flex;
  flex-wrap: wrap;
  background-color: #4b3832;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
}

.pet-name {
  position: absolute;
  background: linear-gradient(#fff4e6, #be9b7b);
  opacity: .6;
  border: 1px solid #3c2f2f;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: #3c2f2f;
}

.local-pets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.local-pets {
  font-family: Pacifico, cursive;
  align-self: center;
  display: flex;
  color: #fff4e6;
  text-shadow: #3c2f2f 2px 2px;
  font-size: 40pt;
  padding-bottom: 30px;
  padding-top: 20px;
}

/* Pet Show */

.pet-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pet-container {
  background-color: #4b3832;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
  border: 1px solid #4b3832;
}

.pet-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-actions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff4e6;
  margin: 5px;
}

.pet-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.pet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  background-color: #be9b7b;
}

.pet-form-interior {
  display: flex;
}

.pet-delete {
  flex: 1 1 auto;
}

.pet-form-container {
  background: #fff4e6;
  display: flex;
  flex: 1 1 auto;
}

.pet-details {
  background-color: #fff4e6;
  display: flex;
  flex: 1 1 auto;
  margin: 5px;
}

.pet-details > ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.pet-details > ul > li {
  padding: 5px;
  font-size: 20px;
  color: #3c2f2f;
}

.pet-detail {
  display: flex;
  font-size: 20pt;
  justify-content: flex-end;
  padding: 10px;
}

.pet-description {
  padding: 10px;
  margin: 10px;
  font-size: 20pt;
  font-family: Pacifico;
  border-bottom: 1px solid #3C2F2F;
}

/* Shelter Show */

.shelter-show {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.shelter-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3C2F2F;
  padding: 10px;
}

.shelter-info-container {
  display: flex;
  flex-direction: column;
  background-color: #fff4e6;
  flex: 1 1 auto;
}

.shelter-actions-container {
  background-color: #fff4e6;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.shelter-details {
  background-color: #fff4e6;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.shelter-details > ul {
  display: flex;
  flex-direction: column;
  background-color: #fff4e6;
  border-bottom: 5px solid #3C2F2F;
}

.shelter-details > ul > li {
  display: flex;
  padding: 5px;
  font-size: 20px;
  color: #3c2f2f;
}

.shelter-detail {
  display: flex;
  font-size: 20pt;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.shelter-description {
  padding: 20px;
  font-size: 20pt;
  font-family: Pacifico;
}

.shelter-form-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

/* Shelter Index */

.shelter-index-container {
  background: linear-gradient(#4b3832, #3c2f2f);
  border: 2px solid #3c2f2f;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
}

.shelter-index {
  min-height: 500px;
  background: #fff4e6;
  border: 2px solid #3c2f2f;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.shelter-index > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shelter-index-title {
  font-family: Pacifico, cursive;
  align-self: center;
  display: flex;
  color: #3c2f2f;
  text-shadow: #fff4e6 2px 2px;
  font-size: 40pt;
  padding-bottom: 30px;
  padding-top: 20px;
}

.shelter-index-item-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.shelter-index-item-container > a {
  width: 100%;
  display: flex;
}

.shelter-index-item {
  background: #fff4e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: all 0.2s ease-out;
  border-bottom: 1px solid #3c2f2f;
  padding: 20px 40px 20px 0;
}

.shelter-index-item:hover {
  background: #5C6F68;
  color: #FFF4E6;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.shelter-index-item > div {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.shelter-buttons {
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 20px;
  margin: 0 10px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #3c2f2f;
}

.shelter-buttons:hover {
  background-color: #be9b7b;
  cursor: pointer;
}


/* User Show */

.user-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  background: linear-gradient(#4b3832, #3c2f2f);
  border: 2px solid #3c2f2f;
  justify-content: space-around;
  vertical-align: middle;
  margin: 5px;
  padding: 5px;
}

.user-details-container {
  display: flex;
  justify-content: center;
  border: 2px solid #3c2f2f;
  background-color: #fff4e6;
  margin: 5px 0;
  padding: 5px 0;
}

.user-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-show {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.user-details {
  align-items: center;
  width: 100%;
  justify-content: space-around;
  display: flex;
}

.user-details > li {
  font-size: 22px;
  margin: 10px;
  padding: 10px;
}

/* User Auth */

.auth-form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.75);
  align-items: center;
  justify-content: center;
  display: flex;
}

.auth-modal {
  margin: 10px;
  padding: 10px;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  background-color: #fff4e6;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.auth-form {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff4e6;
  padding: 10px;
  margin: 10px;
}

.user-auth-title {
  border-bottom: 2px solid #3c2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.user-auth-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;}

.submit-button-container {
  background-color: #fff4e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.submit-button {
  color: #3c2f2f;
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 20px 20px;
  border: 1px solid #3c2f2f;
  border-radius: 5px;
  margin: 5px 10px;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  background-color: #854442;
  border-color: rgba(0,0,0,0.5);
}

.demo-input {
  font-style: italic;
  color: #854442;
}

.user-auth-input {
  font-weight: bold;
}

.user-auth-errors {
  color: red;
  text-align: center;
  justify-content: center;
  list-style: none;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
}
