/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* CSS RESET */

     /* http://meyerweb.com/eric/tools/css/reset/
        v2.0 | 20110126
        License: none (public domain)
     */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 a {
   text-decoration: none;
   color: #3c2f2f;
 }
 button {
   border: none;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 /* General */

 button, link {
   outline: none;
 }

 body {
   background-color: #3c2f2f;
   color: #3c2f2f;
   font-family: sans-serif;
 }

 input {
   background-color: #fff4e6;
   color: #3c2f2f;
   font-size: 14px;
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid #3c2f2f;
 }

 .index-img-container {
   width: 175px;
   height: 175px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .index-img-container > img {
   width: 100%;
   border-radius: 5px;
 }

 .show-img-container {
   height: 500px;
   width: 500px;
   overflow: hidden;
   flex: 1 1 auto;
   padding: 5px;
   margin: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   border: 2px solid #3c2f2f;
   background-color: #854442;
 }

 .show-img-container > img {
   width: 100%;
   border-radius: 5px;
 }

 .page {
   position: fixed;
   display: flex;
   width: 100%;
   height: 100%;
   overflow: scroll;
   flex-direction: column;
   align-items: center;

 }

 .header {
   width: 95%;
   display: flex;
   background: linear-gradient(#fff4e6, #be9b7b, #4b3832);
   flex: 1 0 auto;
   margin: 0 10px;
   padding: 0 10px;
   overflow: scroll;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom: 2px solid #3c2f2f;
 }

 .content {
   width: 92.5%;
   display: flex;
   background: linear-gradient(#fff4e6, #be9b7b, #4b3832);
   align-items: center;
   flex: 1 0 auto;
   margin: 0 10px;
   padding: 10px;
   border-left: 2px solid black;
   border-right: 2px solid black;
 }

 .footer {
   width: 95%;
   display: flex;
   background: linear-gradient(#be9b7b, #3c2f2f);
   flex: 1 0 auto;
   margin: 0 10px;
   padding: 0 10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 .index-button {
   color: #3c2f2f;
   background: linear-gradient(#fff4e6, #be9b7b);
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 12px;
   padding: 10px 20px;
   margin: 0 10px;
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #3c2f2f;
   border-radius: 5px;

 }

 .index-button:hover {
   background: linear-gradient(#be9b7b, #4b3832);
   cursor: pointer;
 }

 .image-button {
   color: #3c2f2f;
   background-color: #fff4e6;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 12px;
   padding: 10px 10px;
   border: 1px solid #3c2f2f;
   border-radius: 5px;
   margin: 5px;
   cursor: pointer;
   outline: none;
 }

 .image-button:hover {
   background-color: #854442;
   border-color: rgba(0,0,0,0.5);
 }

/* Header */

 .header-info {
   padding: 5px;
   margin: 0 5px;
   width: 100%;
   height: 200px;
   display: flex;
 }

.greeting-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  padding: 5px;
  margin: 5px;
}

.greeting {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
  color: #3c2f2f;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}

.greeting-name {
  padding: 5px;
  margin: 5px;
}

.header-logo {
  font-family: Cinzel Decorative, cursive;
  display: flex;
  flex: 6 6 auto;
  padding: 5px;
  margin: 5px;
  text-shadow: 2px 2px #fff4e6;
  font-size: 45px;
  color: #3c2f2f;
  font-weight: bold;
}

.header-icon {
  width: 75px;
  height: 75px;
  margin: 5px;
  padding: 5px;
}

.header-icon-image {
  max-width:100%;
  max-height:100%;
}

.header-title {
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: center;
}

.greeting-button {
  color: #3c2f2f;
  background: linear-gradient(#fff4e6, #be9b7b);
  text-transform: uppercase;
  border: 1px solid #3c2f2f;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.greeting-button:hover {
  background: linear-gradient(#be9b7b, #4b3832);
  border-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

/* Search Bar */

.search-bar {
  display: flex;
  justify-content: flex-start;
}

.search-bar > form {
  display: flex;
  border-bottom: none;
  vertical-align: middle;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.search-button {
  color: #3c2f2f;
  background: linear-gradient(#fff4e6, #be9b7b);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 5px 20px;
  border: 1px solid #3c2f2f;
  border-radius: 5px;
  margin: 5px 10px;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background: linear-gradient(#be9b7b, #4b3832);
  border-color: rgba(0,0,0,0.5);
}

/* Welcome Page*/

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #3c2f2f;
}

/* Pet Index */

.pet-index-container {
  background: linear-gradient(#be9b7b, #4b3832);
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
}

.pet-index {
  display: flex;
  flex-wrap: wrap;
  background-color: #4b3832;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin: 10px;
}

.pet-name {
  position: absolute;
  background: linear-gradient(#fff4e6, #be9b7b);
  opacity: .6;
  border: 1px solid #3c2f2f;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: #3c2f2f;
}

.pet-index-item {
  border-radius: 5px;
  margin: 15px;
}

.pet-index-item:hover > label {
  opacity: 1;
}

.pet-index-item > li {
  background-color: #fff4e6;
  margin: 5px;
  padding: 5px;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
}

/* Pet Show */

.pet-show {
  display: flex;
  flex-direction: column;
  background-color: #be9b7b;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
}

.pet-container {
  background-color: #4b3832;
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 5px;
  padding: 5px;
  border: 1px solid #4b3832;
  border-radius: 5px;
}

.pet-detail-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}


.pet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  background-color: #be9b7b;
}

.pet-form-interior {
  display: flex;
}

.pet-delete {
  background-color: #fff4e6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px 2px 2px 0 solid #3c2f2f;
}

.pet-buttons {
  color: #3c2f2f;
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 26px;
  margin: 20px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #3c2f2f;
}

.pet-buttons:hover {
  background-color: #854442;
  cursor: pointer;
}

.pet-form-container {
  background: #fff4e6;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px 0 2px 2px solid #3c2f2f;
}

.pet-shelter-link-container {
  flex: 1 1 auto;
}

.pet-shelter-link {
  color: #3c2f2f;
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  flex: 2 2 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #3c2f2f;
  border-radius: 5px;
}

.pet-shelter-link:hover {
  background-color: #854442;
}

.pet-details {
  background-color: #fff4e6;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #3c2f2f;
  margin: 5px;
  padding: 5px;
}

.pet-details > ul {
  display: flex;
  flex-direction: column;
}

.pet-details > ul > li {
  align-self: center;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  color: #3c2f2f;
}

/* Shelter Show */

.shelter-show {
  display: flex;
  background-color: #4b3832;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.shelter-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #be9b7b;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  margin: 20px;
  padding: 20px;
}

.shelter-info-container {
  display: flex;
  flex-direction: column;
  background-color: #854442;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
}

.shelter-actions-container {
  background-color: #fff4e6;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.shelter-actions {
  color: #3c2f2f;
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 25px;
  margin: 15px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3c2f2f;
  border-radius: 5px;}

.shelter-actions:hover {
  background-color: #854442;
  cursor: pointer;
}

.shelter-delete {
  color: #3c2f2f;
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 20px;
  margin: 25px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3c2f2f;
  border-radius: 5px;}

.shelter-delete:hover {
  background-color: #854442;
  cursor: pointer;
}

.shelter-details {
  background-color: #fff4e6;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  margin: 5px;
  padding: 5px;
}

.shelter-details > ul {
  display: flex;
  flex-direction: column;
  background-color: #fff4e6;
  margin: 5px;
  padding: 5px;
}

.shelter-details > ul > li {
  display: flex;
  align-self: center;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  color: #3c2f2f;
}

.shelter-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff4e6;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

/* Shelter Index */

.shelter-index-container {
  background: linear-gradient(#4b3832, #3c2f2f);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  margin: 5px;
  padding: 5px;
}

.shelter-index {
  background: linear-gradient(#fff4e6, #be9b7b);
  border-radius: 5px;
  border: 2px solid #3c2f2f;
  margin: 5px;
  padding: 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelter-index > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shelter-index-title {
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid #3c2f2f;
}

.shelter-index-item-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.shelter-index-item-container > a {
  width: 100%;
  display: flex;
}

.shelter-index-item {
  background: linear-gradient(#fff4e6, #be9b7b);
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3c2f2f;
  margin: 10px;
  padding: 10px;
}

.shelter-index-item:hover {
  background: linear-gradient(#be9b7b, #4b3832);
}

.shelter-index-item > div {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.shelter-buttons {
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 20px;
  margin: 0 10px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #3c2f2f;
}

.shelter-buttons:hover {
  background-color: #be9b7b;
  cursor: pointer;
}


/* User Show */

.user-info {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#4b3832, #3c2f2f);
  justify-content: space-between;
  vertical-align: middle;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.user-details-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(#fff4e6, #be9b7b);
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.user-container {
  display: flex;
  width: 100%;
}

.user-show {
  display: flex;
  background-color: #be9b7b;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.user-details {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.user-details > li {
  font-size: 22px;
  margin: 10px;
  padding: 10px;
}

/* User Auth */

.auth-form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.75);
  align-items: center;
  justify-content: center;
  display: flex;
}

.auth-modal {
  margin: 10px;
  padding: 10px;
  border: 2px solid #3c2f2f;
  border-radius: 5px;
  background-color: #fff4e6;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.auth-form {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff4e6;
  padding: 10px;
  margin: 10px;
}

.user-auth-title {
  border-bottom: 2px solid #3c2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.user-auth-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;}

.submit-button-container {
  background-color: #fff4e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.submit-button {
  color: #3c2f2f;
  background-color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 20px 20px;
  border: 1px solid #3c2f2f;
  border-radius: 5px;
  margin: 5px 10px;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  background-color: #854442;
  border-color: rgba(0,0,0,0.5);
}

.demo-input {
  font-style: italic;
  color: #854442;
}

.user-auth-input {
  font-weight: bold;
}

.user-auth-errors {
  color: red;
  text-align: center;
  justify-content: center;
  list-style: none;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
}
