/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* CSS RESET */

     /* http://meyerweb.com/eric/tools/css/reset/
        v2.0 | 20110126
        License: none (public domain)
     */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 /* General */

html,
body,
.page {
  height: 100%;
}

 body {
   background-color: lightblue;
   font-family: sans-serif;
 }

 .page {
   position: fixed;
   display: flex;
   background-color: green;
   flex-direction: column;
   width: 100%;
 }

 .header {
   background-color: lightgrey;
   opacity: .9;
   flex: 2 2 auto;
   display: flex;
 }

 .content {
   background-color: yellow;
   position: relative;
   flex: 100 100 auto;
 }

 .footer {
   background-color: red;
   flex: 1 1 auto;
 }

/* Header */

.greeting-container {
  display: flex;
  left: 0;
  margin-left: auto;
  align-items: center;
  padding: 15px;
}

.greeting {
  display: flex;
  left: 0;
  margin: auto;
  align-items: center;
}

.greeting-name {
  padding: 0 5px;
  margin: 0 5px;
}

.greeting-button {
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: sans-serif;
}

.greeting-button:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
}

.greeting-button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}

.header-logo {
  display: flex;
  margin: 5px;
  padding: 10px;
  font-size: 40px;
  align-items: center;
  font-weight: bold;
  font-family: Cinzel Decorative, sans-serif;
}

.header-icon {
  max-width: 50px;
  max-height: 50px;
  margin: 0 10px;
  margin-bottom: 5px;
}

.header-icon-image {
  max-width:100%;
  max-height:100%;
}

.header-title {
  margin: 0 10px;
}

/* User Auth */

.auth-modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  background-color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.user-auth-title {
  font-size: 22px;
  text-align: center;
  padding: 5% 0;
}

.user-auth-fields {
  text-align: center;
  padding: 5% 0;
}

.demo-input {
  font-style: italic;
  color: silver;
}

.user-auth-input {
  font-weight: bold;
}

.user-auth-errors {
  /*text-align: center;
  justify-content: center;
  list-style: none;
  vertical-align: middle;*/
}
