/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* CSS RESET */

     /* http://meyerweb.com/eric/tools/css/reset/
        v2.0 | 20110126
        License: none (public domain)
     */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 /* General */

 img {
   max-width:100%;
 }

 body {
   background-color: lightblue;
   font-family: sans-serif;
 }

 .index-img-container {
   width: 150px;
   height: 150px;
   padding: 5px;
   margin: 5px;
   background-color: lime;
 }

 .show-img-container {
   max-width: 500px;
   max-height: 500px;
   padding: 5px;
   margin: 5px;
   background-color: olive;
 }

 .page {
   position: fixed;
   display: flex;
   width: 100%;
   height: 100%;
   background-color: teal;
   overflow: scroll;
   flex-direction: column;
 }

 .header {
   align-self: center;
   width: 95%;
   display: flex;
   background-color: lightgrey;
   flex: 1 0 auto;
 }

 .content {
   align-self: center;
   width: 90%;
   display: flex;
   background-color: yellow;
   align-content: center;
   flex: 1 0 auto;
 }

 .footer {
   align-self: center;
   width: 95%;
   display: flex;
   background-color: red;
   flex: 1 0 auto;
 }

/* Header */

.greeting-container {
  display: flex;
  left: 0;
  margin-left: auto;
  align-items: center;
  padding: 15px;
}

.greeting {
  display: flex;
  left: 0;
  margin: auto;
  align-items: center;
}

.greeting-name {
  padding: 0 5px;
  margin: 0 5px;
}

.greeting-button,
.auth-submit-button {
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: sans-serif;
}

.greeting-button:hover,
.auth-submit-button:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
}

.greeting-button:active,
.auth-submit-button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}

.header-logo {
  display: flex;
  margin: 5px;
  padding: 10px;
  font-size: 40px;
  align-items: center;
  font-weight: bold;
  font-family: Cinzel Decorative, sans-serif;
}

.header-icon {
  max-width: 50px;
  max-height: 50px;
  margin: 0 10px;
  margin-bottom: 5px;
}

.header-icon-image {
  max-width:100%;
  max-height:100%;
}

.header-title {
  margin: 0 10px;
}

/* Pet Index */

.pet-index {
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.pet-name {
  position: absolute;
}

.pet-index-item {
  background-color: orange;
  margin: 5px;
  padding: 5px;
}

.pet-index-item:hover {
  background-color: green;
}

/* Pet Show */

.pet-show {
  display: flex;
  flex-direction: column;
  background-color: turquoise;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.pet-container {
  background-color: firebrick;
  display: flex;
  width: 98%;
  margin: 5px;
  padding: 5px;
}

.pet-detail-container {
  display: flex;
  background: chocolate;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
}

.pet-actions {
  background-color: chartreuse;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.pet-links {
  background-color: salmon;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.pet-details {
  background-color: plum;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

/* Shelter Show */

.shelter-detail-container {
  display: flex;
  background: gold;
  flex: 1 1 auto;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.shelter-list {
  background-color: seagreen;
  margin: 5px;
  padding: 5px;
  flex: 1 1 auto;
}

.shelter-create-button-container {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.shelter-index-container {
  background-color: sienna;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
}

.shelter-index-item {
  background-color: indianred;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.shelter-show {
  display: flex;
  background-color: lightgreen;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.shelter-actions {
  background-color: violet;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

/* User Show */

.user-info {
  background-color: tomato;
}

.user-container {
  background-color: lightsteelblue;
  display: flex;
  width: 98%;
  margin: 5px;
  padding: 5px;
}

.user-show {
  display: flex;
  background-color: peru;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.user-details {
  background-color: yellowgreen;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 5px;
  padding: 5px;
}

.user-detail-item {
  background-color: thistle;
  text-align: center;
  align-self: center;
  margin: 5px;
  padding: 5px;
}


/* User Auth */

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.75);
  align-items: center;
  justify-content: center;
  display: flex;
}

.auth-modal {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
  overflow: auto;
}

.auth-form {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: forestgreen;
  padding: 10px;
  margin: 10px;
}

.user-auth-title {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.user-auth-fields {
  background-color: lightyellow;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;}

.submit-button-container {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.demo-input {
  font-style: italic;
  color: silver;
}

.user-auth-input {
  font-weight: bold;
}

.user-auth-errors {
  color: red;
  text-align: center;
  justify-content: center;
  list-style: none;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
}
