/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background: grey;
  font-family: sans-serif;
}

.header {
  background: green;
}

.auth-modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: auto;
  width:  250px;
  height:  400px;
  display: flex;
  flex-direction: column;
}

.user-auth-title {
  font-size: 22px;
  text-align: center;
  padding: 5% 0;
}

.user-auth-fields {
  text-align: center;
  padding: 5% 0;
}

.demo-input {
  font-style: italic;
  color: silver;
}

.user-auth-input {
  font-weight: bold;
}

.user-auth-errors {
  /*text-align: center;
  justify-content: center;
  list-style: none;
  vertical-align: middle;*/
}
